$primaryblue: #3298C2 !important;
body {
  font-size:100%;
}

.bg-dark {
  background-color: $primaryblue;
}

.search-card {
  border:1px solid #b9d8eb;
  min-height:315px;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 10px 10px 5px -10px rgba(158,155,158,1);
  -moz-box-shadow: 10px 10px 5px -10px rgba(158,155,158,1);
  box-shadow: 10px 10px 5px -10px rgba(158,155,158,1);

  h3 {
    font-size:124%;
    color:$primaryblue;
  }

  .brand {
    font-weight:bold;
    font-size:70%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  p.description {
    font-size:90%;
  }

  .highlight {
    background-color: #f8ffac;
  }

  img {
    width:200px;
    height:auto;
    float:right;
  }

  .btn-outline-primary {
    color: $primaryblue;
    background-color: transparent;
    background-image: none;
    border-color: $primaryblue;
  }

  .btn-outline-primary:hover {
    color: #fff;
    background-color: $primaryblue;
    background-image: none;
    border-color: $primaryblue;

    a.product-button:hover {
      color: #fff;
      text-underline: none;
    }
  }

  a.product-button {
    color: $primaryblue;
  }


  a.more {
    color: $primaryblue;
  }

  a.more:hover {
    color: #333;
  }
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  border:1px solid #efefef;
  background:#fff;
  padding:4px;
}

.search-card a.product-button {
  color: #3298C2 !important;
}

.search-card a.product-button:hover {
  color: #fff !important;
  text-decoration: none;
}


.search-container {
  position:absolute;
}

.product-category {
  font-size:90%;
  background-color: #606060;
  padding:4px;
  margin:3px 0;
  color:#fff;
}

.category-cleaner, .category-Cleaner {
  background-color: #3b9959;
}
.category-float {
  background-color: #195de6;
}
.category-heater {
  background-color:#990000;
}
.category-pump {
  background-color: #502bff;
}




















#portfolio {
  margin: 1rem 0;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  -webkit-column-width: 33.33333333333333%;
  -moz-column-width: 33.33333333333333%;
  column-width: 33.33333333333333%;
}
.tile {
  -webkit-transform: scale(0);
  transform: scale(0);
  //-webkit-transition: all 350ms ease;
  //transition: all 350ms ease;

}
.tile:hover {

}

.scale-anm {
  transform: scale(1);
}


p{
  padding:10px;
  //border-bottom: 1px #ccc dotted;
  //text-decoration: none;

  //font-size: 12px;
  //color: #333;
  //display:block;
  //float:left;
}

p:hover {
  cursor:pointer;
  //background: #333;
  //color:#eee;

}

.tile img {
  max-width: 100%;
  width: 100%;
  height: auto;
  //margin-bottom: 1rem;

}

.btn {
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  padding: .5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid;
  vertical-align: middle;
  -webkit-appearance: none;
  color: #555;
  background-color: rgba(0, 0, 0, 0);
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}

.btn-outline-primary:not([disabled]):not(.disabled).active {
  color:#fff;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
